*{
	margin: 0px;
	padding: 0px;


}

/*Custom Fonts*/
@font-face {
  font-family: lato-bold;
  src: url(fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: lato-light;
  src: url(fonts/Lato-Light.ttf);
}

@font-face {
  font-family: lato-regular;
  src: url(fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-black;
  src: url(fonts/Lato-Black.ttf);
}
 /* End Custom Fonts */


body{
	height: 100%;
  background-image: url("img/bg1.jpg");
 }

/* Navigation Style Start */

nav {
	display: flex;
	align-items: center;
	min-height: 8vh;
	background-color: #2b6491;
  }

span {
  padding-left: 1%;
}

/* LOGO START */
.logo {
	font-family: lato-black;
	text-align: center;
  padding-left: 42%;
  padding-top: -50px;
}

#logo2{
	font-size: 30px;
	display: flex;
}

#net {
	color: #f2c301;
		list-style: none;
		text-align: center;
}

#ed {
	color: #f6f6f6;
		list-style: none;
		text-align: center;
}
/* logo end */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #254863;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  line-height: 50px
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenav a {
  font-family: lato-light;
  padding: 8px 8px 8px 14px;
  text-decoration: none;
  font-size: 25px;
  color: #f6f6f6;
  display: block;
  transition: 0.3s;
  text-align: center;

}
#options {
  line-height: 200px;
}

.sidenav a:hover {
  color:#f2c301;
}

button:hover {
  color:#f2c301;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Sidebar Navigation End */ 

/*dropdown code*/

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f6f6f6;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: lato-light;
}

.dropdown a:hover{
	color: #f2c301;
}


.dropdown-container {
  display: none;
  background-color: #366285;
  padding-left: 8px;
  line-height: 40px;
}

/* Dropdown Code End */


/*Image Hover Overlay Code*/

.banner-container {
  position: relative;
}

.banner {
  opacity: 1;
  display: block;
  width:1300px; 
  height: 300px;
  object-fit: cover;
  padding: 30px;
  backface-visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width:1300px; 
  height: 300px;
  transition: .5s ease;
  margin-top: 30px;
  margin-left: 30px;
}

.banner-container:hover .banner {
  opacity: 0.3;
}

.banner-container:hover .overlay {
  opacity: 1;
}

.text-overlay {
  font-family: lato-black;
  font-size: 30px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

 /*content format*/

.title-holder {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: lato-regular;
  text-align: center;
  padding: 10px;
  line-height: 1.5;
  background-color: #fcfcfc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-holder {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: lato-regular;
  text-align: left;
  padding: 10px;
  line-height: 2.0;
  background-color: #fcfcfc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.column-content {
  column-count: 2;
}

#special-text {
  font-family: lato-bold;
  color: #262626;
}

ul {
  padding-left: 20px;
}

#net-top-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
}

#network-img-A {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60%;
}

#column-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 250px;
  max-height: 250px;
}


/*OUR TEAM*/

.container {
  text-align: center;
}

#our-team{
   font-family: lato-black;
}

#sub-title-team{
  font-family: lato-light;
  font-size: 16px;
}


.header {
  padding-top: 60px;
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
}

.sub-container {
  max-width: 1200px;
  margin: auto;
  padding: 48px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams{
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover{
  background: #ddd;
  border-radius:12px ;
}


.teams img{
  width: 200px;
  height: 200px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: lato-regular;

}

.fb-link:hover{
  color: #2b6491;
 
}

.design {
  font-style: italic;
  color: #888;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
  font-family: lato-light;
}

@media screen and (max-width:600px){
  .teams{
    max-width: 100px;
  }
}

footer {
  font-family: lato-regular;
  text-align: center;
  padding: 10px;
  line-height: 1.5;
  background-color: #d4d4d4;
  
}

#column-footer {
  font-family: lato-regular;
  text-align: center;
  padding: 10px;
  line-height: 1.5;
  background-color: #d4d4d4;
  column-count: 2;
}

.cite-link:link {
  color: darkblue;
}

.cite-link:visited {
  color: darkblue;
}

.cite-link:hover {
  color: #f2c301;
}

/*scroll to top btn*/

#scrollUP {
  font-family: lato-bold;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2b6491;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrollUP:hover {
  background-color: #555;
}
